body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 253, 252);


}

header {
    background-color: rgb(76, 170, 187);
    padding: 20px;
    border-radius: 10px;
}

header h1 {
    color: azure;
    text-align: center;

}

header p {
    color: aliceblue;
    text-align: center;
}

nav {
    height: 80px;
    align-content: center;
    background-color: rgba(148, 167, 160, 0.651);
}

nav a {
    width: 20%;
    padding: 40px;

}

section {
    background-color: rgba(198, 255, 245, 0.534);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(142, 143, 143, 0.521);
}
}

section h2 {
    color: cadetblue;
}


footer {
    background-color: hsl(180, 100%, 27%);
    padding: 20px;

}

footer h3 {
    color: azure;

}