bod {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;

}

header{
    background-color: rgba(0, 146, 146, 0.651);
    color: white;
    padding: 1em 0;
    width: 100%;
    position: fixed;
    top: 0;

}

nav {
    /*background-color: dodgerblue;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1200px;

}

nav ul{
    list-style: none;
    display: flex;
    gap: 2em;

}

nav ul li a {
    text-decoration: none;
    color: rgb(246, 247, 246);
    padding: 0.5em 1em;

} 

nav ul li a:hover{
    background-color: rgb(98, 196, 0);
    border-radius: 0.5em;
    
}

#nav-button {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    }
    nav ul li a {
    padding: 1em;
    text-align: center;
    }
    #nav-button {
    display: block;
    }
    .nav-open ul {
    display: flex;
    }
   }